@tailwind base;
@tailwind components;
@tailwind utilities;


/* #region Globals */
:root {
  --tx1: rgb(0, 0, 0);
  --tx2: rgb(255,255,255); 
  
  --r1: rgb(252,214,209); 
  --r2: rgb(251,177,167); 
  --r3: rgb(246,91,70); 

  --y1: rgb(255,244,225); 
  --y2: rgb(253,224,174); 
  --y3: rgb(252,192,89); 

  --g1: rgb(224,242,217); 
  --g2: rgb(191,239,172); 
  --g3: rgb(115,237,66); 

  --b1: rgb(225, 242, 252);
  --b2: rgb(174, 220, 253);
  --b3: rgb(70, 157, 246); 


  --merienda: 'Merienda', cursive;
}


.merienda{
  font-family: var(--merienda);
}

body {
  min-height: 100vh;
  background-color: var(--tx1);
}

/* #endregion */




.r-section{
  background-color: var(--r2);
  border-bottom: 8px solid var(--r3);
  padding: 1rem;
}

.y-section{
  background-color: var(--y2);
  border-bottom: 8px solid var(--y3);
  padding: 1rem;
}

.g-section{
  background-color: var(--g2);
  border-bottom: 8px solid var(--g3);
  padding: 1rem;
}

.b-section{
  background-color: var(--b2);
  border-bottom: 8px solid var(--b3);
  padding: 1rem;
}



.keyboard button {
  flex-shrink: 0;
  padding: 12px 0px;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 600;
  background-color: var(--tx1);
  color: white;
  border-radius: 0.5rem
}

.keyboard button:hover {
  background-color: rgb(50, 50, 50);
}


*{
  scrollbar-width: thin; 
}