@tailwind base;
@tailwind components;
@tailwind utilities;


/* #region Globals */
:root {
  --tx1: rgb(245, 245, 245);
  --tx2: rgb(192, 147, 240); 
  
  --bg1: rgb(12, 12, 12); 
  --bg2: rgb(49, 12, 88); 

  --ac1: rgb(176, 28, 74); 
  --ac2: rgb(122, 20, 105); 
  --ac3: rgb(102, 204, 170);
}





::selection {
  background-color: blue;
  color: white;
}
/* #endregion */



header{
  color: white;
  font-size: clamp(16px, 1vw, 1vw);
  font-weight: 600;
  background-color: black;

  padding: 6px clamp(5px, 8vw, 20px); 
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 40;
}


header nav {
  background-color: #E5E5E51a;
  justify-content: center;
  white-space: nowrap;
  padding: 3px 16px;
  border-radius: 99px;
}




.keyboard button {
  flex-shrink: 0;
  padding: 12px 0px;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 600;
  background-color: rgb(75, 73, 73);
  color: white;
  border-radius: 0.5rem
}

.keyboard button:hover {
  background-color: rgb(112, 108, 108);
}